# --------------------------------------------
# Python
# --------------------------------------------

# Byte-compiled / optimized / DLL files
__pycache__/
*__pycache__/
*.py[cod]
*$py.class
*.pdf
*.yml
*.sqlite
*run_instances.py
/IA/ia
waste/
*parameters.py
*post_process.py
test_private.ipynb
test_private.py
soil_output/
result/
*try_run.ipynb
logs.log
*.DS_STORE
*.egg-info
*server_user_id.txt